.post {
  padding: rem(40);

  &-header {
    @include flex-s-sb;

    position: relative;
    margin-bottom: 15px;
  }

  &-btn {
    position: relative;
    margin-left: auto;
    padding: 0;
    width: 100%;
    height: 4px;
    max-width: 18px;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      mask-image: url("../img/sprite.svg#post-more");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
      width: 15px;
      height: 4px;
      background-color: var(--color-gray-300);
    }
  }

  &-more {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 4px;
    fill: var(--color-gray-400);
  }

  &-text {
    @include adaptive_size("padding-left", 65, 55);

    font-weight: 400;
    font-size: var(--size-m);
    line-height: 1.7;

    p {
      &:not(:last-of-type) {
        margin-bottom: rem(20);
      }

      &:last-of-type {
        margin-bottom: rem(30);
      }
    }

    @include for-width(-mobile-md) {
      padding-left: 0;
    }
  }

  &-replies {
    .post-reply-list {
      display: block;

      @include for-width(-mobile-md) {
        padding-left: 30px;
      }
    }

    .post {
      &-comments {
        color: var(--color-dark-900);

        &-hide {
          display: block;
        }

        &-numbers {
          display: none;
        }
      }
    }

    &-more {

      .post-reply-show,
      .post-reply-numbers {
        display: none;
      }

      .post-reply-visible {
        color: var(--color-dark-900);

        .post-actions-comment {
          transform: rotate(180deg);
        }
      }

      .post-reply-hide {
        display: flex;
      }

      +.post-reply-items {
        height: auto;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-reply {
    &-list {
      display: none;
      margin-top: clamp(20px, rem(30), 40px);
    }

    &-items {
      @include adaptive_size("padding-left", 65, 55);

      height: 0;
      opacity: 0;
      visibility: hidden;

      @include for-width(-mobile-md) {
        padding-left: 20px;
      }
    }

    &-item {
      margin-bottom: clamp(20px, rem(30), 40px);
    }

    &-hide {
      display: none;
    }

    &-btns {
      @include adaptive_size("padding-left", 65, 55);

      button {
        @include flex-v-center;

        justify-content: flex-start;
      }

      @include for-width(-mobile-md) {
        padding-left: 0;
      }
    }
  }

  &-comments {
    font-size: var(--size-m);

    &-hide {
      display: none;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &-comment-hide {
    .post-actions-icon {
      transform: rotate(180deg);
    }
  }

  &-actions {
    @include flex-v-center;

    color: var(--color-gray-400);

    &-item {
      &:not(:last-child) {
        margin-right: rem(25);
      }
    }

    &-hide {
      font-size: 0;
    }

    &-btn {
      @include flex-v-center;

      color: inherit;

      span {
        &:not(:last-child) {
          margin-right: 5px;
        }
      }

      &.liked {
        color: var(--color-red);

        span {
          color: var(--color-dark-900);
        }
      }
    }

    &-icon {
      margin-right: 10px;
      fill: currentColor;
    }

    &-like {
      width: 14px;
      height: 12px;
    }

    &-comment {
      width: 14px;
      height: 14px;
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 30px;

    .swiper-slide {
      overflow: hidden;
      height: 380px;
    }

    &-picture {
      @include flex-all-center;

      overflow: hidden;
      height: 100%;
      max-height: 381px;
    }

    &-image {
      height: 100%;
    }
  }

  &-dropdown {
    &-item {
      padding: 7px 20px 7px 15px;
    }

    &-delete {
      color: var(--color-red);
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 10px;
    line-height: 1;

    &-bullet {
      width: 5px;
      height: 5px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 0;
    margin: 0;
    width: 88px;
    height: calc(100% - 30px);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(88.87deg, rgba(16, 16, 16, 0.5) 0.92%, rgba(16, 16, 16, 0) 98.98%);
      transition: opacity 0.1s linear, visibility 0.1s linear;
    }

    &::after {
      z-index: 1;
      font-size: var(--size-l);
      color: var(--color-white);
    }
  }

  .swiper-button-next {
    right: 0;

    &::before {
      transform: rotate(-180deg);
      pointer-events: none;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }

    &.swiper-button-disabled {
      pointer-events: none;
    }
  }

  .swiper-button-prev {
    left: 0;

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  .avatar-mid {
    margin-right: 20px;
  }

  @include for-width(-mobile-md) {
    padding: 30px 24px;
  }
}
