.about {
  &-user {
    padding-bottom: clamp(0.5em, rem(18), 30px);
  }

  &-top {
    @include flex-all-sb;

    margin-bottom: clamp(0.5em, rem(25), 30px);
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: clamp(0.5em, rem(35), 40px);

    .link-item-link {
      display: none;
    }

    &-user {
      border-bottom: 0;
      padding-bottom: 0;
    }

    @include for-width(-desktop-med) {
      flex-wrap: wrap;
    }

    @include for-width(-mobile-md) {
      align-items: flex-start;
    }
  }

  &-info {
    align-self: flex-start;
    margin-right: auto;
  }

  &-name {
    @include flex-v-center;

    margin-bottom: 6px;

    &-title {
      margin-right: 15px;
    }
  }

  &-follow {
    @include flex;

    font-size: var(--size-s);
    line-height: 1.8;
    color: var(--color-gray-500);

    &-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &-link {
      color: var(--color-dark-900);
    }
  }

  &-avatar {
    margin-right: clamp(0.4em, rem(30), 35px);
  }

  &-flag {
    width: 100%;
    height: 15px;
    max-width: 20px;
  }

  &-btns {
    @include flex-v-center;

    align-self: flex-start;

    &-item {
      &:not(:last-child) {
        margin-right: 15px;

        @include for-width(-mobile-md) {
          margin-right: 0;
          margin-bottom: 10px;
        }

        @include for-width(-mobile-sl) {
          margin-right: 15px;
          margin-bottom: 0;
        }
      }

      @include for-width(-mobile-sl) {
        width: 100%;
      }
    }

    .btn {
      width: 103px;

      @include for-width(-mobile-l) {
        width: 100%;
      }
    }

    @include for-width(-mobile-md) {
      display: block;
    }

    @include for-width(-mobile-sl) {
      display: flex;
      justify-content: flex-end;
      margin-top: 30px;
      width: 100%;
    }
  }

  &-content {
    @include flex-ss;

    &-inner {
      width: 100%;
      max-width: 550px;

      &:first-child {
        margin-right: clamp(1.2em, rem(78), 90px);

        @include for-width(-mobile-l) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }

      @include for-width(-mobile-l) {
        max-width: 100%;
      }
    }

    &-title {
      margin-bottom: clamp(0.5em, rem(12), 20px);
      font-weight: 500;
    }

    &-item {
      &:last-child {
        p {
          margin: 0;
        }
      }
    }

    p {
      margin-bottom: clamp(10px, rem(22), 25px);
    }

    @include for-width(-mobile-l) {
      display: block;
    }
  }
}
