.action {
  @include flex-all-sb;

  &-item {
    position: relative;

    &:not(.avatar) {
      margin-right: clamp(15px, rem(20), 20px);
    }
  }

  &-notifications {
    @include adaptive_size("width", 33, 29);
    @include adaptive_size("height", 33, 29);
    @include flex-all-center;

    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: var(--radius-main);
    line-height: 1;
    background-color: var(--color-gray-600);

    &-icon {
      width: 13px;
      height: 15px;
      fill: var(--color-icon);
    }
  }
}
