.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: var(--radius-main);
  padding: rem(7) rem(25) rem(6);
  font-weight: 500;
  font-size: var(--size-s);
  line-height: 1.6;
  white-space: nowrap;
  text-align: center;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.2s linear;

  &::first-letter {
    text-transform: capitalize;
  }

  &-default {
    border-color: var(--color-gray-400);
    color: var(--color-gray-400);
  }

  &-background {
    border-color: var(--color-main);
    color: var(--color-white);
    background-color: var(--color-main);
  }

  &-reset {
    border-color: var(--color-gray-100);
    color: var(--color-dark);
    background-color: var(--color-gray-100);
  }

  &-delete {
    color: var(--color-white);
    background-color: var(--color-red);
  }

  &-disconnect {
    border-color: var(--color-gray-100);
    color: var(--color-red);
    background-color: var(--color-gray-100);
  }

  &-white {
    border-color: var(--color-white);
    color: var(--color-main);
    background-color: var(--color-white);
  }

  &-reverse {
    border-color: var(--color-white);
    color: var(--color-white);
    background-color: var(--color-main);
  }

  &-open.post-btn {
    &::before {
      background-color: var(--color-dark-900);
    }
  }

  &:disabled {
    border-color: var(--color-gray-300);
    background-color: var(--color-gray-300);
    pointer-events: none;
  }
}
