.logo {
  @include flex-v-center;

  margin-right: rem(110);
  height: 20px;
  min-width: 142px;

  &-img {
    @include for-width(-mobile-l) {
      height: 14px;
    }
  }

  @include for-width(-desktop-med) {
    margin-right: rem(20);
    min-width: 120px;
  }

  @include for-width(-tablet) {
    margin-right: 5px;
  }

  @include for-width(-mobile-l) {
    margin-right: auto;
  }
}
