.nav {
  left: 0;
  right: 0;
  width: 100%;

  &-list {
    @include flex-all-sb;

    margin: 0 auto;
    width: 100%;

    @include for-width(-tablet) {
      justify-content: flex-start;
    }

    @include for-width(-mobile-l) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &-item {
    @include flex-v-center;

    &:not(:nth-child(2n+5)) {
      margin-right: clamp(25px, rem(43), 45px);

      @include for-width(-mobile-l) {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }

    &-search {
      margin-left: auto;
      width: 100%;
      max-width: 260px;

      input {
        position: relative;
        height: 100%;
      }

      @include for-width(-desktop-med) {
        max-width: 220px;
      }

      @include for-width(-tablet) {
        @include adaptive_size("width", 35, 25);

        display: none;
      }
    }
  }

  &-link {
    @include adaptive_size("font-size", 14, 12);

    color: var(--color-gray-400);

    &-active {
      color: var(--color-main);
    }

    &:hover {
      color: var(--color-main);
    }

    @include for-width(-mobile-l) {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.7;
      text-transform: uppercase;
    }
  }

  &-search {
    @include adaptive_size("height", 33, 30);

    position: relative;
    width: 100%;

    &-clear {
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 100%;
      opacity: 0;
      visibility: hidden;

      &::before {
        content: "";
        position: absolute;
        right: 50%;
        top: 50%;
        mask-image: url("../img/close.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 10px;
        height: 10px;
        background-color: var(--color-gray-400);
        transform: translate(10%, -50%);
      }

      &.clear {
        opacity: 1;
        visibility: visible;
      }
    }

    &-mobile {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 10px 25px;
      width: 100%;
      background-color: var(--color-white);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s ease,
        visibility 0.1s ease,
        transform 0.15s linear;

      .nav-search-clear {
        right: 25px;
      }
    }

    &-show {
      border-top: 1px solid var(--color-gray-100);
      border-bottom: 1px solid var(--color-gray-100);
      opacity: 1;
      visibility: visible;
      transform: translateY(100%);
      transition: opacity 0.5s ease,
        visibility 0.5s ease,
        transform 0.1s linear;
    }

    .input[type=search] {
      padding-right: 30px;
    }
  }

  .container {
    @include for-width(-mobile-l) {
      padding: 0;
    }
  }

  &-sing {
    position: absolute;
    bottom: 35px;
    display: none;
    width: 100%;
    max-width: 360px;

    &-list {
      @include flex-all-sb;

      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 272px;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 11px;
        background-color: var(--color-gray-300);
        transform: translate(-50%, -50%);
      }
    }

    &-item {
      width: 100%;
      max-width: 100px;
      text-align: center;
    }

    &-link {
      font-weight: 700;
      font-size: var(--size-m);
      text-transform: uppercase;
    }

    &-logout {
      display: block;
      border: 1px solid var(--color-red);
      padding: 13px 0;
      width: 100%;
      text-align: center;
      color: var(--color-red);
    }

    &.nav-item {
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0 20px;
    }

    @include for-width(-mobile-l) {
      display: block;
    }
  }

  &.menu-active {
    transform: translateX(0);

    .nav-list {
      &::before {
        z-index: 0;
        transform: translateX(50%);
      }
    }
  }

  @include for-width(-desktop-med) {
    transform: translateX(0);
  }

  @include for-width(-mobile-l) {
    position: absolute;
    left: 0;
    top: 61px;
    display: block;
    padding: 40px 30px;
    width: 100%;
    height: calc(100vh - 61px);
    background-color: var(--color-white);
    transform: translateX(-100%);
    transition: transform 0.2s linear;
  }
}
