.no-data {
  @include flex-all-center;

  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  flex-direction: column;
  padding: 0 rem(30);
  min-height: 390px;
  text-align: center;
  background-color: var(--color-white);

  &-load {
    margin-bottom: 30px;
  }

  &-loading {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: var(--radius-main);
    width: 100%;
    height: 3px;
    max-width: 455px;
    background-color: var(--color-gray-300);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: rem(-35);
      overflow: hidden;
      border-radius: var(--radius-main);
      width: 100%;
      height: 3px;
      max-width: 132px;
      background-color: var(--color-main);
      animation: move_eye 1.5s linear infinite;
    }
  }

  &-feed {
    position: relative;
    height: 60vh;

    .title-sec {
      margin-bottom: 15px;
    }

    .content {
      max-width: 280px;
    }
  }
}

@keyframes move_eye {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(350%);
  }
}
