.publish {
  &-form-open {
    .publish-action {
      padding-top: clamp(10px, rem(15), 20px);
      max-height: 100%;
      opacity: 1;
      visibility: visible;
      transition: all 0.1s ease-in-out;

      @include for-width(-mobile-l) {
        display: block;
        padding-top: 0;
      }
    }
  }

  &-title {
    margin-bottom: clamp(15px, rem(25), 30px);
    font-weight: 500;
  }

  &-input {
    display: block;
    overflow-y: auto;
    padding: 12px rem(20);
    min-height: 39px;
    max-height: 94px;
    font-size: var(--size-m);
    line-height: 1.7;
  }

  &-box {
    @include flex-v-center;

    margin-right: rem(20);
    border-radius: var(--radius-main);
    width: fit-content;

    &-btn {
      margin-right: 20px;

      @include for-width(-mobile-sl) {
        margin-right: 10px;
      }
    }

    &-input.btn {
      padding: 5px 24px 4px 19px;
      font-size: var(--size-sl);
      color: var(--color-dark);
      cursor: pointer;

      &::before {
        content: "+";
        margin-right: 8px;
      }

      @include for-width(-mobile-sl) {
        padding: 5px 10px;
      }
    }

    &-text {
      font-size: var(--size-sl);
    }

    @include for-width(-mobile-l) {
      margin-bottom: 20px;
      border-bottom: 1px solid var(--color-gray-200);
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }

    @include for-width(-mobile-s) {
      flex-wrap: wrap;
    }
  }

  &-img {
    &-wrap {
      display: flex;

      @include for-width(-mobile-l) {
        overflow-x: auto;
      }
    }

    &-box {
      margin-right: clamp(1em, rem(20), 25px);
      width: 73px;
      height: 29px;

      @include for-width(-mobile-l) {
        margin-top: 15px;
        width: 32px;
        height: 29px;
      }

      @include for-width(-mobile-sl) {
        margin-top: 26px;
        height: 58px;
        min-width: 120px;
      }
    }

    &-close {
      position: absolute;
      right: -6px;
      top: -1px;
      border-radius: var(--radius-round);
      width: 15px;
      height: 15px;
      background-color: var(--color-gray-400);
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        right: 2px;
        top: 50%;
        mask-image: url('../img/sprite.svg#close-icon');
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 10px;
        height: 10px;
        background-color: var(--color-white);
        transform: translateY(-50%);
      }
    }
  }

  &-action {
    @include flex-all-sb;

    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
  }

  &-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    gap: 0 20px;

    .btn-default {
      color: var(--color-dark);
    }

    .btn-background {
      &:disabled {
        background-color: var(--color-main);
        opacity: 0.4;
      }
    }
  }

  &-length {
    font-size: var(--size-sl);
    white-space: nowrap;

    span {
      font-weight: 500;
    }

    @include for-width(-mobile-l) {
      margin-left: auto;
    }

    @include for-width(-mobile-s) {
      margin-left: 0;
    }

    @include for-width(-mobile-sm) {
      padding-top: 10px;
    }
  }

  &-dropdown {
    position: relative;
    margin-right: rem(20);
    width: 100%;
    max-width: 90px;
    font-size: var(--size-sl);
    text-align: left;
    color: var(--color-dark);

    &-list {
      position: absolute;
      z-index: 1;
      padding: 10px;
      width: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
      background-color: var(--color-white);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s ease, visibility 0.1s ease;
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &-radio {
      display: block;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    &-open {
      .publish-dropdown-list {
        opacity: 1;
        visibility: visible;
      }
    }

    .dropdown-radio input {
      position: absolute;
      left: -30px;
      visibility: hidden;
    }

    &-btn {
      position: relative;
      display: inline-block;
      border: 1px solid var(--color-gray-400);
      border-radius: var(--radius-main);
      padding: 5px rem(30) 4px 10px;
      width: 100%;
      min-width: 85px;
      line-height: 1.66;

      &::before {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        mask-image: url("../img/arrows/drop-publish.svg");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        width: 6px;
        height: 4px;
        background-color: var(--color-dark);
        transform: translateY(-50%);
      }
    }
  }

  .img-bg {
    @include bg-cover;

    position: relative;
    border-radius: var(--radius-main);
    height: 100%;
    background-size: 100% 100%;
  }

  &.inner {
    padding: clamp(1em, rem(30), 40px) clamp(1em, rem(40), 40px);

    @include for-width(-mobile-md) {
      padding: 30px 24px;
    }
  }
}
