.title {
  @include adaptive_size("font-size", 25, 20);

  font-weight: 500;
  line-height: 1;

  &-sec {
    @include adaptive_size("font-size", 19, 15);

    &-empty {
      margin-bottom: 10px;
    }

    &-waiting {
      margin-bottom: rem(15);
    }
  }

  &-third {
    font-size: 15px;
  }

  &-step {
    margin-bottom: rem(20);
  }

  &-follow {
    margin-bottom: rem(30);
    font-weight: 500;
    font-size: 23px;
    line-height: 1.2;
  }

  &-main {
    margin-bottom: rem(30);
  }
}
