.notifications {
  &-aside {
    z-index: 1;
    width: 0;
    max-width: 235px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);

    &-wrapp {
      position: fixed;
      right: 0;
      top: clamp(65px, rem(95), 90px);
      bottom: 0;
      width: 0;
      max-width: 235px;
      background-color: var(--color-white);
    }

    &-switchers {
      padding: rem(40) rem(30);
    }

    &-switcher {
      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }
  }

  &-switcher {
    &-all {
      border-bottom: 1px solid var(--color-gray-200);
      padding: rem(35) rem(30) rem(25);
    }
  }

  .switcher-label {
    justify-content: space-between;
    padding: 10px 0;

    span {
      white-space: nowrap;

      &:first-of-type {
        margin-left: auto;

        &::before {
          content: "off";
          text-transform: capitalize;
          color: var(--color-gray-400);
        }
      }

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .switcher-radio:checked+.switcher-label {
    span {
      &:first-of-type {
        &::before {
          color: var(--color-dark);
        }
      }
    }
  }
}
