.graph {
  &-title {
    margin-bottom: clamp(1em, rem(22), 40px);
    font-weight: 500;
  }

  &-tabs {
    @include flex;

    margin-bottom: rem(60);

    .radio {
      padding: 10px;
    }

    .tabs-action-radio {
      text-transform: capitalize;
      background-color: var(--color-gray-100);

      &::before {
        left: auto;
        right: 0;
      }

      &:first-of-type {
        border-radius: var(--radius-main) 0 0 var(--radius-main);
      }

      &:nth-of-type(2) {
        border-radius: 0;
      }

      &:last-of-type {
        border-radius: 0 var(--radius-main) var(--radius-main) 0;

        &::before {
          display: none;
        }
      }

      @include for-width(-mobile-sl) {
        grid-template-columns: repeat(3, rem(65));
        margin-bottom: 10px;
      }
    }
  }

  &-visual {
    position: relative;
  }
}
