.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 34px;
  margin-bottom: 30px;
  width: 100%;
  gap: 0 23px;

  &-link {
    @include flex-all-center;

    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-main);
    padding: 5px;
    height: 100%;
    background-color: var(--color-white);
  }

  &-facebook {
    max-width: 63px;
  }

  &-google {
    max-width: 56px;
  }

  &-wechat {
    max-width: 61px;
  }

  @include for-width(-mobile-l) {
    gap: 0 15px;
  }
}
