.dex {
  &-search {
    &-title {
      margin-bottom: rem(20);
    }

    &-form {
      position: relative;
    }

    &-input.input {
      padding: 10px rem(60) 10px rem(20);
      color: var(--color-dark);
      cursor: text;
    }

    &-btn {
      position: absolute;
      right: rem(30);
      top: 50%;
      width: 14px;
      height: 14px;
      transform: translateY(-65%);
    }

    &-icon {
      width: 14px;
      height: 14px;
      fill: var(--color-icon);
    }

    &.inner {
      padding: rem(40);

      @include for-width(-mobile-l) {
        padding: 20px;
      }
    }
  }

  &-list {
    padding: rem(55) rem(40);

    &-title {
      margin-bottom: rem(60);
      text-align: center;
    }

    &.inner {
      padding-bottom: rem(60);
    }

    @include for-width(-mobile-md) {
      padding: 30px 15px;
    }
  }

  &-steps {
    @include flex-all-sb;

    justify-content: space-evenly;

    @include for-width(-desktop-med) {
      justify-content: space-between;
    }

    @include for-width(-tablet) {
      display: block;
    }
  }

  &-step {
    width: 100%;
    max-width: 270px;
    text-align: center;

    &-title {
      margin-bottom: rem(15);
      font-weight: 500;
      font-size: var(--size-b);
      line-height: 1.2;
    }

    &-number {
      margin-bottom: 7px;
      font-weight: 900;
      font-size: 30px;
    }

    &-img {
      margin-bottom: rem(34);
      max-height: 140px;
    }

    &-picture {
      margin: 0 auto;
      max-width: 150px;
    }

    &:nth-child(2) {
      max-width: 260px;

      @include for-width(-tablet) {
        max-width: 475px;
      }
    }

    @include for-width(-tablet) {
      margin: 0 auto 50px;
      max-width: 475px;
    }
  }

  &-beta {
    padding: rem(20);
    text-align: center;
    color: var(--color-gray-400);
    background-color: var(--color-white);
  }
}
