.activity {
  &-title {
    border-bottom: 1px solid var(--color-gray-200);
    padding-bottom: rem(30);
  }

  &-table {
    position: relative;
    padding-top: rem(30);
    font-size: var(--size-m);

    .table {
      width: 100%;
      text-align: left;

      &-arrow {
        width: 15%;
      }

      &-time {
        width: 12%;
      }

      &-to {
        width: 15%;
      }
    }

    th {
      padding: rem(15);
      font-weight: 400;
    }

    td {
      padding: rem(15);
    }

    &-icon {
      height: 7px;
      max-width: 18px;
    }
  }
}
