.api {
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    font-size: var(--size-s);
    line-height: 1.2;
    text-align: center;
    gap: 20px 25px;

    &-fields {
      grid-template-columns: 1fr;

      .input {
        cursor: auto;
      }
    }

    @include for-width(-mobile-l) {
      padding: rem(30) 24px;
    }
  }

  &-content {
    display: block;
    border-radius: var(--radius-main);
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: var(--color-gray-200);
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    cursor: pointer;
  }

  &-checkbox {
    input:checked+.api-content {
      color: var(--color-white);
      background-color: var(--color-main);
    }
  }

  &-title {
    color: var(--color-gray-400);

    &-exchange {
      color: var(--color-dark);
    }
  }

  &-field {
    position: relative;
    font-size: var(--size-s);
    text-align: left;
  }

  &-label {
    cursor: text;

    &-tooltip {
      @include flex-v-center;

      width: fit-content;
    }
  }

  &-input.input {
    margin-top: 12px;
    padding: 10px rem(20);
    font-size: var(--size-m);
    line-height: 1.31;

    &:read-only {
      cursor: default;
    }
  }

  &-tooltip {
    @include flex-all-center;

    position: relative;
    cursor: default;

    &::before {
      content: attr(data-tooltip-text);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: var(--radius-main);
      padding: 3px 4px;
      width: max-content;
      font-size: 10px;
      text-transform: none;
      color: #fff;
      background-color: var(--color-gray-800);
      opacity: 0;
      visibility: hidden;
      transform: translate(20px, -5px);
      transition: opacity 0.1s ease, visibility 0.1s ease;
    }

    &-img {
      margin-left: 5px;
      width: 11px;
      height: 11px;
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &-optional {
    color: var(--color-gray-400);
  }
}
