.offer {
  .bitcoin {
    &::after {
      padding: 0;
    }
  }

  &-btn {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  &-inner {
    padding: 30px;
  }

  &-row {
    @include flex-all-sb;

    margin-bottom: 12px;
    font-size: var(--size-s);
    line-height: 1.5;
    letter-spacing: 0.015em;

    &-text {
      padding-right: 7px;
    }

    &-tooltip {
      margin-right: auto;
      width: 11px;
      height: 11px;
    }

    .switcher-label {
      font-size: var(--size-s);
    }
  }

  &-input {
    margin-bottom: rem(30);
    padding: 10px rem(20);
    font-size: var(--size-m);
  }

  &-textarea {
    font-size: var(--size-m);

    &::placeholder {
      font-size: var(--size-m);
    }
  }

  &-text {
    margin-top: 12px;
    padding: 10px rem(20);
    min-height: 110px;
  }

  &-dropdown {
    margin-bottom: rem(30);
    max-width: 100%;

    &-btn {
      border-color: transparent;
      padding: 9px rem(20);
      text-align: left;
      background-color: var(--color-gray-100);

      &::before {

        right: rem(15);
        mask-image: url("../img/arrows/drop-offer.svg");
        width: 6px;
        height: 6px;
        background-color: var(--color-dark);
      }
    }

    .publish-dropdown {
      &-list {
        padding: 0;
      }

      &-item {
        margin-bottom: 0;
        padding: 5px 10px 5px rem(20);
        transition: background-color 0.1s ease;

        &:hover {
          background-color: var(--color-gray-100);
        }
      }
    }
  }

  &-close {
    min-height: 395px;
    text-align: center;

    .title {
      margin-bottom: 15px;
      padding-top: 60px;
    }

    .offer-inner {
      @include flex-all-center;

      flex-direction: column;
    }

    .content {
      margin: 0 auto;
      max-width: 305px;
    }
  }

  &-changes {
    margin-bottom: rem(40);
  }

  &-change {
    border-bottom: 1px solid var(--color-gray-200);
    padding: 25px 30px;

    &-title {
      display: block;
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 15px;
      color: var(--color-gray-400);

      span {
        font-weight: 500;
        color: var(--color-black);
      }
    }

    &-field {
      @include flex;

      align-items: flex-end;

      .purchases-amount-text {
        margin-right: 16px;
        width: 100%;
        max-width: 220px;
      }

      span {
        @include flex-all-sb;
      }
    }

    &-price {
      font-size: var(--size-m);
      line-height: 148.69%;
      letter-spacing: 0.015em;
      transform: translateY(-8px);

      span {
        margin: 0 5px;
      }
    }

    .step-input-message {
      font-size: 11px;
      letter-spacing: 0.015em;

      span {
        &:not(:first-of-type) {
          color: var(--color-main);
        }
      }
    }

    .purchases-amount-text {
      margin-bottom: 0;
    }

    .purchases-amount-input {
      margin-top: 12px;
    }
  }

  &-wrapper {
    padding: 30px 30px 0;

    &-amount {
      font-weight: 700;
      color: var(--color-main);

      span {
        font-weight: inherit;
      }
    }
  }

  &.inner {
    padding-top: clamp(0.5em, rem(30), 30px);
  }
}
