.personal {
  &-box {
    padding: clamp(20px, rem(30), 35px) rem(40) rem(40);

    @include for-width(-mobile-md) {
      padding: 20px;
    }
  }

  &-inner {
    @include flex-ss;

    margin-bottom: rem(85);
  }

  &-avatar {
    @include adaptive_size("width", 65, 50);
    @include adaptive_size("height", 65, 50);

    margin-right: clamp(20px, rem(30), 40px);

    .avatar {
      @include adaptive_size("width", 65, 50);
      @include adaptive_size("height", 65, 50);

      height: 100%;
    }
  }

  &-title {
    margin-bottom: clamp(30px, rem(30), 30px);
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: rem(30);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-name {
    margin-bottom: 6px;
    font-size: var(--size-lg);
    line-height: 1.1;
  }

  &-email {
    @include flex-all-center;

    justify-content: flex-start;
    font-size: var(--size-m);
    line-height: 1.5;
    color: var(--color-gray-400);

    .api-tooltip::before {
      max-width: 195px;
      transform: translate(25px, 0);

      @include for-width(-mobile-md) {
        left: auto;
        right: 0;
        transform: translate(20px, 15px);
      }
    }

    .api-tooltip-img {
      margin-left: 10px;
    }

    @include for-width(-mobile-sl) {
      font-size: var(--size-sl);
    }

    @include for-width(-mobile-sm) {
      font-size: var(--size-s);
    }
  }

  &-tooltip {
    margin-left: 7px;
  }

  &-content {
    overflow-y: auto;
    margin-bottom: rem(20);
    padding: 15px 20px;
    min-height: 225px;
    max-height: 225px;
  }

  &-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 12px;
    gap: 0 rem(60);

    @include for-width(-tablet) {
      display: block;
    }
  }

  &-area {
    @include flex-column;

    &:not(:last-child) {
      @include for-width(-tablet) {
        margin-bottom: 30px;
      }
    }

    &.error {
      .personal-characters {
        display: none;
      }
    }
  }

  &-input {
    @include adaptive_size("max-width", 70, 50);
    @include flex-all-center;

    padding-top: 8px;
    font-size: var(--size-m);
    text-align: center;
    cursor: pointer;
  }

  &-characters {
    font-size: var(--size-s);
    line-height: 1.6;
    color: var(--color-gray-400);

    span {
      color: var(--color-dark);
    }
  }

  &-submit {
    display: block;
    margin-left: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    max-width: 130px;
  }
}
