.personal {
  &-box {
    padding: clamp(20px, rem(30), 35px) rem(40) rem(40);

    @include for-width(-mobile-md) {
      padding: 20px;
    }
  }

  &-inner {
    @include flex-ss;

    margin-bottom: rem(85);
  }

  &-avatar {
    margin-right: clamp(20px, rem(30), 40px);

    .avatar-img {
      height: 100%;
      @include adaptive_size("width", 70, 50);
    }
  }

  &-title {
    margin-bottom: clamp(30px, rem(40), 50px);
    border-bottom: 1px solid var(--color-gray-300);
    padding-bottom: rem(30);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &-name {
    margin-bottom: 6px;
    font-size: var(--size-lg);
    line-height: 1.1;
  }

  &-email {
    @include flex-all-center;

    justify-content: flex-start;
    font-size: var(--size-m);
    line-height: 1.5;
    color: var(--color-gray-400);

    @include for-width(-mobile-sl) {
      font-size: var(--size-sl);
    }

    @include for-width(-mobile-sm) {
      font-size: var(--size-s);
    }
  }

  &-tooltip {
    margin-left: 7px;
  }

  &-content {
    margin-bottom: rem(20);
    padding: 15px 20px;
    min-height: 225px;
  }

  &-areas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 12px;
    gap: 0 rem(60);

    @include for-width(-tablet) {
      display: block;
    }
  }

  &-area {
    @include flex-column;

    &:not(:last-child) {
      @include for-width(-tablet) {
        margin-bottom: 30px;
      }
    }
  }

  &-input {
    @include adaptive_size("max-width", 70, 50);
    @include flex-all-center;

    padding-top: 11px;
    font-size: var(--size-m);
    text-align: center;
    cursor: pointer;
  }

  &-characters {
    font-size: var(--size-s);
    line-height: 1.6;
    color: var(--color-gray-400);

    span {
      color: var(--color-dark);
    }
  }

  &-submit {
    display: block;
    margin-left: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    max-width: 130px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in, visibility 0.2s ease-in;

    &-show {
      opacity: 1;
      visibility: visible;
    }
  }
}
