.purchases {
  &-title {
    margin-bottom: rem(35);
    border-bottom: 1px solid var(--color-gray-200);
    padding-bottom: rem(30);
  }

  &-list {
    display: grid;
    grid-auto-rows: minmax(355px, auto);
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    @include for-width(-mobile-md) {
      justify-content: center;
      grid-template-columns: 375px;
    }

    @include for-width(-mobile-sl) {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    @include flex-column;

    position: relative;
    border-radius: var(--radius-main);
    padding: rem(30);
    background-color: var(--color-gray-100);
  }

  &-header {
    @include flex;

    position: relative;
    margin-bottom: rem(30);
    width: auto;
  }

  &-price {
    margin-bottom: rem(30);

    span {
      display: block;
    }

    &-usd {
      font-weight: 500;
    }

    &-fixed {
      font-size: var(--size-m);
    }

    +.purchases-manage {
      margin-bottom: rem(30);
    }
  }

  &-manage {
    @include flex-all-sb;

    border-radius: var(--radius-main);
    padding: 8px 12px;
    font-size: var(--size-s);
    background-color: var(--color-white);

    &-text {
      min-width: 45px;
      line-height: 1.65;
    }

    &-price {
      min-width: 65px;
    }

    .btn {
      padding-top: 2px;
      padding-bottom: 2px;
      font-size: var(--size-s);
    }
  }

  &-error {
    border-color: var(--color-red);
    border-radius: var(--radius-main);
    padding: 10px rem(20);
    font-size: var(--size-s);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-red);
  }

  &-btn {
    margin-top: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
  }

  &-dex {
    &-item {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }

      .btn {
        padding: 2px 0;
        width: 100%;
        max-width: 50px;
      }
    }

    &-list {
      margin-bottom: rem(30);
    }

    &-link {
      position: absolute;
      right: rem(30);
      top: rem(30);
      z-index: 1;
      border-radius: var(--radius-main);
      padding: 4px;
      width: 100%;
      height: 19px;
      max-width: 19px;
      font-size: var(--size-s);
      background-color: var(--color-gray-300);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        mask-image: url("../img/sprite.svg#bscscan");
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: cover;
        margin: 0 auto;
        width: 14px;
        height: 14px;
        background-color: var(--color-dark-900);
        transform: translate(5%, -55%);
      }
    }
  }

  &-message {
    margin-bottom: rem(30);
    border-color: var(--color-purchase);
    border-radius: var(--radius-main);
    padding: 10px rem(20);
    font-size: var(--size-s);
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-purchase);
  }

  &-copy {
    &-list {
      position: absolute;
      right: rem(30);
      top: rem(70);
      z-index: 1;
      width: 100%;
      max-width: 130px;
      font-size: var(--size-m);
      color: var(--color-gray-800);
      background-color: var(--color-white);
    }

    &-item {
      margin-bottom: 5px;
    }

    &-btn {
      padding: 10px 8px;
      width: 100%;
      text-align: left;
    }
  }

  &-modal {
    min-height: auto;

    &-text {
      margin-bottom: rem(30);
    }
  }

  &-balance {
    display: block;
    margin-bottom: 10px;
    font-size: var(--size-s);
    letter-spacing: 0.015em;
  }

  &-currency {
    display: block;
    margin-bottom: rem(30);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8;
  }

  &-amount {
    &-text {
      display: block;
      margin-bottom: 12px;
      font-size: var(--size-s);
      line-height: 1.5;
      letter-spacing: 0.015em;
    }

    &-input {
      display: block;
      padding: 10px rem(20);
      font-size: var(--size-m);
    }
  }

  &-btns {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: auto;
  }

  &.inner {
    padding-top: clamp(0.5em, rem(30), 30px);
    padding-bottom: clamp(0.5em, rem(30), 30px);
  }
}
